img {
    width: 30%;
    margin: calc(10% / 6);
}
/* 30 + 30 + 30  => that leaves us with 10% free space that need to fit within 6 free_space of image */

body {
    font-family: 'Raleway', sans-serif;
}
nav {
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1f1;
    width: 30%;
    margin-left: calc(10% / 6);
    padding: 1.2em 0em;
    font-weight: 800;
    font-size: 1.5em;
}
